.red {
  color: #e74c3c;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  background-color: #3498db;
  color: #ecf0f1;
  border-radius: 6px;
  font: inherit;
  padding: 8px 16px;
  cursor: pointer;
  border: 0px solid #fff;
}

.Cockpit button:hover {
  background-color: #2980b9;
}

.Cockpit button.Red {
  background-color: #e74c3c;
}

.Cockpit button.Red:hover {
  background-color: #c0392b;
}
