.App {
  text-align: center;
}

.red {
  color: #e74c3c;
}

.bold {
  font-weight: bold;
}

.button {
  background-color: #3498db;
  color: #ecf0f1;
  border-radius: 6px;
  font: inherit;
  padding: 8px 16px;
  cursor: pointer;
  border: 0px solid #fff;
}

.button:hover {
    background-color: #2980b9'
}